<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />

      <title>{{ page.title }} | {{ site.name }}</title>
      
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/foundation.min.css">
      <link rel="stylesheet" href="/css/customise.css">
   </head>
   <body>
      <div class="blog-header row radius">
        <div class="large-2 columns">
           <header style="width: 110px; height: 110px; background: url('/images/pattern-grey.png'); margin: 1em auto;">
              <a href="/">Ze logo</a>
           </header>
        </div>
        <div class="large-10 columns">
           <header>
              <h1>{{ site.name }}</h1>
              <h1><small>Thoughts and learnings of a professional software engineer</small></h1>
           </header>
        </div>
      </div>

      <div class="blog-main-row row">
         <!-- <div class="blog-content large-9 columns radius"> -->
         <div class="blog-content large-12 columns radius">