    </div>
    <div class="large-3 columns">
        <div class="clearfix panel radius" style="border: 1px solid #blue;">
          <h5>Short Thoughts</h5>
          <ol style="list-style: none; margin: 0; padding: 0;">
            <li>.</li>
            <li>.</li>
          </ol>
          <span class="right">More&hellip;</span>
        </div>
      
        <div class="clearfix panel radius" style="border: 1px solid #blue;">
          <h5>Tags</h5>
          <ol style="list-style: none; margin: 0; padding: 0;">
            <li>.</li>
            <li>.</li>
          </ol>
          <span class="right">More&hellip;</span>
        </div>
      </div>

     </div>
  </div>
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
        <p class="large-9 columns">
          <em>David Nahodil</em><br>
          GitHub - <a href="http://www.github.com/dnahodil" target="_blank">http://www.github.com/dnahodil</a><br>
          Twitter - <a href="http://www.twitter.com/dnahodil" target="_blank">http://www.twitter.com/dnahodil</a>
        </p>
      <div class="large-3 columns">
         <p class="right">Much blog, such enjoy? Wow? <tt>DPQNJHjnMa6U6rqyqHEqq9GeGnL626hDjQ</tt></p>
      </div>
    </div> 
  </footer>

      {% include google_analytics.html %}
   </body>
</html>