<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />

      <title>{{ page.title }} | {{ site.name }}</title>
      
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/foundation.css">

      <script src="/js/vendor/modernizr.js"></script>
   </head>
   <body>
     <script src="/js/vendor/jquery.js"></script>
     <script src="/js/foundation.min.js"></script>

      <div class="row">
        <div class="large-2 columns">
           <header>
              <a href="/"><img src="/images/logo.jpg" alt="Site logo. It's a thought bubble. The colour is a maroon that that traditional cultures believe projects intensity and passion. It's sketchy nature is symbolbolic of the ongoing journey of learning; plus, also, I drew it in paint." /></a>
           </header>
        </div>
        <div class="large-10 columns">
           <header>
              <h1><a href="/">{{ site.name }}</a><br><small>Some thoughts and learnings of a professional software engineer</small></h1>
           </header>
        </div>
        <hr>
      </div>

      <div class="row">
      <div class="large-9 columns">