<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />

      <title>{{ page.title }} | {{ site.name }}</title>
      
      <link rel="stylesheet" href="css/reset.css" type="text/css" />
      <link rel="stylesheet" href="css/base.css" type="text/css" />
      <link rel="stylesheet" href="css/main.css" type="text/css" />
   </head>
   <body>
      <header>
         <h1 class="site_title">{{ site.name }}</h1>
         <div class="subheading">Some thoughts and learnings of a software engineering professional</div>
      </header>
   
{{ content }}

      <footer>
          <address>
             David Nahodil
             <a href="http://www.github.com/dnahodil">GitHub</a>
             <a href="http://www.twitter.com/dnahodil">Twitter</a>
          </address>
      </footer>
   </body>
</html>